#mouse_blob {
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.2;
    }
    to {
        rotate: 360deg;
    }
}